@using PagedList.Mvc;
@using PagedList;

@model IPagedList<AgileWorks.Models.Appeals>
<link href="~/Content/appeals.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Appeals overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().entryDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().deadlineDatetime)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        var now = DateTime.Now;
        var oneHour = DateTime.Now.AddHours(+1);
        string color;
        if (item.deadlineDatetime >= now && item.deadlineDatetime <= oneHour || item.deadlineDatetime < now)
        {


            color = "red";

        }
        else
        {

            color = "black";
        }
        <tr>
            <td style="color: @color">
                @Html.DisplayFor(modelItem => item.description, new { htmlAttributes = new { @class = color } })
            </td>
            <td style="color: @color">
                @Html.DisplayFor(modelItem => item.entryDatetime, new { htmlAttributes = new { @class = color } })
            </td>
            <td style="color: @color">
                @Html.DisplayFor(modelItem => item.deadlineDatetime, new { htmlAttributes = new { @class = color } })
            </td>
            <td>

                @Html.ActionLink("Mark as resolved appeal", "Delete", new { id = item.appealId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))